<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- 默认不缓存（HTML/CSS/JS 全拿最新版） -->
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>

    <!-- 仅大文件缓存 7 天，避免重复下载 -->
    <location path="assets/music">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="live2d">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
